.form {
  &__subtext {
    font-size: 27px;
    font-weight: 350;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  &__title {
    margin-bottom: 40px;

    &--conference {
    margin-bottom: 80px;
    }
  }
  
  &__form {
    display: flex;
    flex-direction: row;
    gap: 125px;
  }

  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  &__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  &__style {
    padding-left: 10px;
    position: relative;
    font-size: 24px;
    font-weight: 350px;
    width: 100%;
    border: none;
    border-bottom: 1px solid $brown;
    height: 50px;
    appearance: none;

    &:focus {
      outline: 1px solid $brown;
    }

    &::placeholder {
      font-weight: 300px;
      color: #000;
    }
  }

  &__btn {
    background-color: #fff;
    border: none;
    
  }

  &__label {
    position: absolute;
    right: 5%;
  }

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__date,
  &__event,
  &__hall {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__button {
    font-weight: 500;
    font-size: 32px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    border-radius: 33px;
    border: none;
    color: #fff;
    background-color: $brown;
    border: 1px solid $brown;
    transition: all 0.5s;

    &:hover {
      background-color: #fff;
      color: $brown;
    }


  }
}