.projects {
  
  &__title {
    margin-bottom: 100px;
  }
  
  }
  
  .projects__slider .swiper {
    width: 100%;
    height: 600px;
  
    &-slide {
      width: 100%;
      text-align: center;
      font-size: 18px;
      background-color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    &-slide img {
      max-height: 600px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  
    &-button-next {
      right: 50px !important;
      left: auto;
  
      &::after {
        color: white;
      }
    }
  
    &-button-prev {
      left: 50px !important;
      right: auto;
  
      &::after {
        color: white;
      }
    }
  }
  